[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
responses = "*"
commitizen = "*"
flake8 = "*"
docker-compose = "*"
black = "*"
pre-commit = "*"

[packages]
requests = "*"
flask = "*"
"beautifulsoup4" = "*"
feedparser = "*"
htmlmin = "*"
more-itertools = "*"
elasticsearch = "*"
lxml = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
